.filters {
    height: 128px;

    &__list {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__item {
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:after {
            content: url('../../assets/img/arrow-down.svg');
            @include size(24px);
            margin-left: 16px;
            display: flex;
            align-items: center;
        }

        & + .filters__item {
            margin-left: 26px;
        }
    }
}

.products {
    margin-bottom: 128px;
}