@import './utils/fonts.scss';
@import './utils/vars.scss';
@import './utils/reset.scss';
@import './utils/mixins.scss';
@import './../../pug/pages/index.scss';
@import './../../pug/layouts/main-layout.scss';

body {
    background: #fff;
    font-family: $default-font;
    font-style: 14px;
    line-height: 32px;
    $color: $color-primary;
}

h1 {
    font-family: $default-bold-font;
    font-size: 88px;
    line-height: 96px;
    text-transform: uppercase;
}

h2 {
    font-family: $secondary-bold-font;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
}

h3 {
    font-family: $default-medium-font;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}

h4 {
    font-family: $default-medium-font;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-family: $default-font;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

h6 {
    font-family: $default-font;
    font-size: 20px;
    line-height: 32px;
}

p {
    font-family: opensans, sans-serif;
    font-size: 16px;
    line-height: 32px;
}

.page {
    width: 100%;
    background-color: #fff;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}

.btn {
    display: inline-block;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 12px 20px;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 16px;
    line-height: 32px;

    &:hover {
        background: $color-primary;
        color: #fff;
    }

    &:active {
        background: #000;
        color: #fff;
    }

    &:disabled {
        border: solid 1px $lighter-gray;
        color: $lighter-gray;
    }
}
