@font-face {
    font-family: "montserrat-regular";
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
}

@font-face {
    font-family: "montserrat-bold";
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
}

@font-face {
    font-family: "montserrat-medium";
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
}

@font-face {
    font-family: "gothampro";
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.ttf') format('truetype'),
         url('../fonts/GothamPro-Bold.woff') format('woff'),
}

@font-face {
    font-family: "opensans";
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
}