//Font
$default-font: montserrat-regular, sans-serif;
$default-bold-font: montserrat-bold, sans-serif;
$default-medium-font: montserrat-medium, sans-serif;
$secondary-bold-font: gothampro, sans-serif;

//Colors
$color-primary: #333;
$color-secondary: #CA9477;
$lighter-gray: #BDBDBD;

//Size
$containerWidth: 1780px;