.about-us {
    
    &__top-banner {
        border-radius: 16px;
        z-index: -1;
        overflow: hidden;
    }

    &__title-wrap {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        background: #fff;
        border-radius: 16px;
        text-align: center;
        padding: 60px 190px;
        margin-top: -100px;
    }

    &__caption {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }
}

.contact-us {
    margin-bottom: 192px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 32px;
        align-content: center;
    }

    &__left-image {
        grid-column: 1 / 7;
    }

    &__right-text {
        grid-column: 7 / 12;
        align-self: end;
    }

    &__text {
        margin-bottom: 60px;
        padding-right: 1px;
    }
}

.what-we-sell {
    margin-bottom: 108px;

    &__title {
        text-align: center;
    }
}